.hero-area {
  height: 100vh;
  background-image: url("../../images/banner01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-area h6 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-area h1 {
  font-size: 60px;
  margin: 20px 0;
  font-weight: 700;
}

.hero-area p {
  width: 35%;
  color: #cdcdcd;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero-area a {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 55px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #329f29;
  border-radius: 5px;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  transition: linear 0.4s;
}

.hero-area a:hover {
  background-color: #32bb32;
  border: 2px solid #32bb32;
}

/* Responsive CSS  */

@media (max-width: 575.98px) {
  .hero-area h6 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .hero-area h1 {
    font-size: 36px;
    margin: 10px 0;
  }

  .hero-area p {
    width: 90%;
    color: #ededed;
  }
}
