.nav-bg {
  background-image: url("../../images/nav-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -3px 7px 19px 10px rgb(0 0 0 / 20%);
}

.logo {
  width: 120px;
}

.navbar-light .navbar-nav .nav-link {
  /* color: #fff; */
}
