@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans+Bengali&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans Bengali", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans Bengali", sans-serif;
}
